/* 共通要素 */

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    .container {
        margin: 1rem 0;
        padding: 2rem 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 1rem 0;
            text-align: center;
            display: inline-block;
            position: relative;
            padding: 10px 20px;
            z-index: 2;
            text-shadow: 2px -1px 3px rgb(255, 255, 255),
                -2px -2px 5px rgba(70, 70, 70, 0.5);
        }
        h2::before {
            content: "";
            position: absolute;
            top: 45%;
            left: 0%;
            width: 10px;
            height: 1.1em;
            background: linear-gradient(to right, #2e4488, #4a90e2);
            transform: translateY(-50%) skewX(-30deg);
            z-index: -1;
        }

        .cent {
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
            margin: 1rem 0;
            text-decoration: underline;
        }

        .headline {
            font-weight: bold;
            font-size: 2.5rem;
            color: #a02e5a; /* 深い赤紫 */
            text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3); /* 影を付けて立体感 */
            letter-spacing: 0.1em;
            text-align: center;
            margin: 2rem 0;
        }

        .img_text_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            width: 100%;

            .text_list {
                width: 35vw;
                padding: 1rem;
                h3 {
                    padding: 0.5rem;
                    border-left: 8px solid #3656a7;
                    background-color: #f1f0f0;
                }
                p,
                ul {
                    margin: 0.5rem 0 1.5rem 0;
                }
            }

            .img_list {
                width: 50vw;
                margin: 1rem;
            }
        }

        .more_btn {
            display: inline-block;
            width: 150px;
            margin: 0 auto;
            padding: 0.5rem;
            background-color: #2e4488;
            color: #fff;
            text-align: center;
            border-radius: 30px;
            font-weight: bold;
            box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3);
            transition: all 0.3s;
        }
        .more_btn:hover {
            background-color: #4a90e2;
            box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.5);
        }

        .card_items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                min-width: 250px;
                max-width: 550px;
                min-height: 550px;
                margin: 1rem;
                padding: 1.5rem;
                background-color: white;
                box-shadow: 3px 3px 8px rgba(100, 100, 100, 0.3);
                border-radius: 12px;
                transition: all 0.3s;

                img {
                    width: 80%;
                    min-height: 250px;
                    max-height: 250px;
                    object-fit: cover;
                }
                h3 {
                    text-align: center;
                }

                .card_content {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 1rem;
                    p {
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }
                    .other_title {
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-align: center;
                        margin: 1rem 0;
                    }
                    .more_btn {
                        margin-top: auto; /* 一番下に配置 */
                    }
                }

                &:hover {
                    box-shadow: 3px 3px 8px rgba(100, 100, 100, 0.5);
                }

                h3 {
                    margin: 1rem 0;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.8;
                }
            }
        }

        .row_items {
            height: inherit;
            .row_list {
                height: inherit;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .lg_img {
                    flex: 2;
                    img {
                        width: 100%;
                        height: 100%;
                        max-height: inherit;
                        object-fit: cover;
                        -webkit-mask-image: linear-gradient(
                            to right,
                            rgba(0, 0, 0, 1) 50%,
                            rgba(0, 0, 0, 0) 90%
                        );
                        mask-image: linear-gradient(
                            to right,
                            rgba(0, 0, 0, 1) 50%,
                            rgba(0, 0, 0, 0) 90%
                        );
                    }
                }
                .lg_content {
                    flex: 1;
                    padding: 2rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    h2 {
                        margin-bottom: 0;
                    }

                    .lg_text {
                        font-size: 1.2rem;
                        font-weight: bold;
                        line-height: 1.6;
                        color: #333;
                    }
                }
            }
        }

        .flow_contents {
            img {
                width: 80%;
                margin: 0 auto;
            }

            .flow_list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;
                margin: 2rem auto;
                padding: 0 1rem;
                .flow_card {
                    flex: 1 1 calc(33.333% - 1rem); /* 3列表示 */
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    border-radius: 6px;
                    padding: 1rem;
                    background-color: #fff;
                    min-width: 280px;
                    h3 {
                        font-size: 1.3rem;
                        margin-bottom: 0.5rem;
                        text-align: center;
                    }
                    ul {
                        padding-left: 1.2rem;
                        margin: 0.5rem 0;
                        li {
                            list-style-type: disc;
                        }
                    }
                    .p_st {
                        font-weight: bolder;
                        margin: 0.5rem 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            h2 {
                font-size: 1.8rem;
            }

            .headline {
                font-size: 2rem;
                margin: 0 1rem;
            }

            .card_items {
                flex-direction: column;
                align-items: center;

                .card_list {
                    width: 90%;
                }

                .card_content {
                    .other_title {
                        font-size: 1.1rem;
                    }
                }
            }

            .img_text_list {
                flex-direction: column;
                gap: 1rem;
                .text_list {
                    width: 90%;
                    margin: 0 auto;
                }
                .img_list {
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .row_items {
                height: inherit;
                .row_list {
                    flex-direction: column;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    margin: auto;
                    .lg_img {
                        position: relative;
                        img {
                            -webkit-mask-image: linear-gradient(
                                    to top,
                                    rgba(0, 0, 0, 1) 0%,
                                    rgba(0, 0, 0, 0) 0%
                                ),
                                linear-gradient(
                                    to bottom,
                                    rgba(0, 0, 0, 1) 0%,
                                    rgba(0, 0, 0, 0) 0%
                                ),
                                linear-gradient(
                                    to left,
                                    rgba(0, 0, 0, 1) 5%,
                                    rgba(0, 0, 0, 0) 25%
                                ),
                                linear-gradient(
                                    to right,
                                    rgba(0, 0, 0, 1) 5%,
                                    rgba(0, 0, 0, 0) 25%
                                );

                            mask-image: linear-gradient(
                                    to top,
                                    rgba(0, 0, 0, 1) 0%,
                                    rgba(0, 0, 0, 0) 0%
                                ),
                                linear-gradient(
                                    to bottom,
                                    rgba(0, 0, 0, 1) 0%,
                                    rgba(0, 0, 0, 0) 0%
                                ),
                                linear-gradient(
                                    to left,
                                    rgba(0, 0, 0, 1) 5%,
                                    rgba(0, 0, 0, 0) 25%
                                ),
                                linear-gradient(
                                    to right,
                                    rgba(0, 0, 0, 1) 5%,
                                    rgba(0, 0, 0, 0) 25%
                                );
                        }
                    }
                    .lg_content {
                        position: absolute;
                        text-align: center;
                        width: 60%;
                        height: inherit;
                        .lg_text {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .flow_contents {
                img {
                    width: 90%;
                }
                .flow_list {
                    .flow_card {
                        flex: 1 1 calc(50% - 1rem); /* 2列表示 */
                    }
                }
            }
        }
    }

    @media screen and (max-width: 425px) {
        .container {
            h2 {
                font-size: 1.5rem;
            }
            h3 {
                font-size: 1.3rem;
            }

            .headline {
                font-size: 1.2rem;
            }

            .more_btn {
                width: 120px;
                font-size: 0.8rem;
            }

            .card_items .card_list {
                img {
                    min-height: 200px;
                    width: 100%;
                }

                p {
                    font-size: 0.9rem;
                }
            }
            .row_items {
                height: inherit;
                .row_list {
                    .lg_content {
                        padding: 1rem;
                        .lg_text {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .flow_contents {
                .flow_list {
                    .flow_card {
                        flex: 1 1 100%; /* 1列表示 */
                        h3 {
                            font-size: 1.2rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

/* header要素 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    nav {
        padding: 10px;
        .nav_items {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            .nav_list {
                display: flex;
                align-items: center;
                position: relative;
                height: 40px;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                a {
                    color: #1e1e1e;
                    margin: 0 10px;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 0.5rem 1rem;
                    border-radius: 20px;
                    transition: all 0.3s ease-in-out;
                }
            }

            /* 下線アニメーション */
            .nav_list:not(.contact_btn)::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: #233270;
                transition: all 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            .nav_list:hover::after {
                width: 80%;
            }

            .contact_btn a {
                display: flex;
                align-items: center;
                background-color: #233270;
                color: #fff;
                padding: 0 1rem;
                border-radius: 30px;
                font-family: Arial, sans-serif;
                font-size: 0.8rem;
                font-weight: bold;
                margin-right: 0.5rem;
                height: 40px;
            }
        }
    }

    #nav_btn,
    .nav_hidden {
        display: none;
    }

    .logo {
        width: 100px;
        height: 60px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.nav_list::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    right: calc(100% + 7px);
}

.nav_list:first-child::before {
    content: none;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1.5rem 0 0.5rem;

        #nav_btn {
            display: block;
            width: 30px;
            height: 20px;
            position: fixed;
            top: 2rem;
            right: 1rem;
            z-index: 3;
            cursor: pointer;

            span,
            span::before,
            span::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #1e1e1e;
                transition: 0.4s;
                position: absolute;
            }

            span {
                top: 0;
            }
            span::before {
                top: 8px;
            }
            span::after {
                top: 16px;
            }
        }

        #nav_input:checked ~ #nav_btn span {
            top: 8px;
            transform: rotate(45deg);
        }
        #nav_input:checked ~ #nav_btn span::before {
            opacity: 0;
        }
        #nav_input:checked ~ #nav_btn span::after {
            top: 0;
            transform: rotate(-90deg);
        }

        .logo {
            width: 80px;
            height: 40px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .nav {
            width: 280px;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 2;
            background: #fff;
            transition: 0.5s;

            .nav_items {
                display: block;
                padding: 4rem 2rem;
                .nav_list {
                    padding-left: 0;
                    margin-bottom: 1.5rem;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-grow: 1;
                        width: auto;
                        padding: 1rem 0;
                    }
                }
                .nav_list::before {
                    content: none;
                    /* モバイル時は通常の区切り線を無効化 */
                }
                .nav_list:not(:last-child)::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #000;
                    position: absolute;
                    bottom: -1px;
                }
                .contact_btn a {
                    padding: 1.5rem;
                    flex-grow: 0;
                    margin: auto;
                }
            }
        }

        #nav_input:checked ~ nav {
            right: 0;
        }
    }
}

/* footer要素 */
footer {
    background-color: #233270;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem 1rem;

    .footer_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 3rem;

        .footer_company_name {
            font-size: 1.5rem;
            font-weight: bold;
            h2 {
                text-shadow: none;
            }
        }

        .footer_company_name h2::before {
            content: none;
        }

        .footer_company_info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .company_info_item {
                padding-left: 1.5rem;
            }
        }
    }
    .footer_menu {
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 2rem 1rem 1rem;

        .footer_container {
            flex-wrap: wrap;
            justify-content: center;
            max-width: 425px;
            margin-bottom: 2rem;

            .footer_company_info {
                flex-wrap: wrap;
                align-items: center;
                .company_info_item {
                    padding: 0.5rem;
                }
            }
        }

        @media screen and (max-width: 425px) {
            .footer_container {
                .footer_company_name h2 {
                    font-size: 1.5rem;
                }
                .footer_company_info li {
                    font-size: 1rem;
                }
            }
            .footer_menu {
                font-size: 0.8rem;
            }
        }
    }
}

/* Hero要素 */
.hero {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        position: absolute;
        width: 100%;
        text-align: left;
        top: 35%;
        color: white;
        padding-left: 8rem;
        background-color: rgba(52, 52, 52, 0.6);
        font-size: 2.2rem;
        font-weight: bold;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    h2::before {
        content: none;
    }

    h3 {
        position: absolute;
        bottom: 20%;
        right: 0;
        background: #0044cc; /* 濃い青色 */
        color: white;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        h2 {
            position: relative;
            text-align: center;
            top: 5%;
            padding-left: 0;
            font-size: 2rem;
        }
        h3 {
            position: relative;
            bottom: -28%;
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 375px) {
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: smaller;
            bottom: -30%;
            padding: 1rem 0.5rem;
        }
    }
}

.home_hero {
    background: url("/img/hero_img2.webp") center/cover no-repeat;
}

/* News要素 */
#news {
    .container {
        .time_items {
            list-style: none;
            padding: 0 1rem;
            margin: 1rem auto;
            max-height: 300px; /* 最大高さを指定 */
            overflow-y: auto; /* 縦スクロールを有効化 */
            border-top: 2px solid #aaaaaa; /* 上の線のみ適用 */
            border-bottom: 2px solid #aaaaaa; /* 下の線のみ適用 */
        }

        /* .news_items::-webkit-scrollbar {
            width: 8px;
            opacity: 0;
            transition: opacity 0.3s;
            }
            
            .news_items:hover::-webkit-scrollbar {
                opacity: 1;
                }
                
                .news_items::-webkit-scrollbar-thumb {
                    background-color: #ccc;
                    border-radius: 4px;
                    }
                    
                    .news_items::-webkit-scrollbar-track {
                        background-color: #f5f5f5;
                        } */

        .time_list {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid #ddd;
        }
        .time_list:last-child {
            border-bottom: none;
        }

        time {
            flex: 0 0 120px;
            font-weight: bold;
        }

        .time_title {
            flex: 1;
            margin-left: 1rem;
            a {
                color: #005eff;
                text-decoration: underline;
            }
        }
    }
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
    #news {
        .container {
            .time_list {
                flex-direction: column;
                align-items: flex-start;

                time,
                .time_title {
                    width: 100%;
                    margin-bottom: 0.5rem;
                    margin-left: 0;
                }
                time {
                    flex: 0 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #news {
        .container {
            .time_title {
                font-size: 0.9rem;
            }
        }
    }
}

/* company要素 */
#company {
    height: 70vh;
    .container {
        background-color: white;
        height: 100%;
    }
}

/* contact要素 */
#contact {
    background-color: white;
    scroll-margin-top: 100px;
    .container {
        padding: 2rem;
        margin: 0 auto;
        max-width: 800px;
        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        form {
            width: 80%;
            max-width: 500px;
        }
        .form_body {
            margin-bottom: 2rem;
            .form_label {
                font-weight: bold;
                margin-bottom: 0.5rem;
                label {
                    vertical-align: middle;
                }
                .required {
                    display: inline-block;
                    color: red;
                    font-size: 0.8rem;
                    margin-left: 0.5rem;
                    vertical-align: middle;
                }
            }
            input[type="text"],
            input[type="email"],
            input[type="tel"] {
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            textarea {
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                border-radius: 5px;
                min-height: 300px;
            }
        }

        .privacy_policy {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            margin-bottom: 1rem;
            a {
                color: #005eff;
                text-decoration: underline;
                margin-bottom: 0.5rem;
            }
            label .required {
                display: inline-block;
                color: red;
                font-size: 0.8rem;
                margin-left: 0.5rem;
                vertical-align: middle;
            }
        }
        .mdl_btn {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            p {
                font-size: 1rem;
            }
        }
    }
}

/* bread_crumb要素 */
.bread_crumb_list {
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.bread_crumb_item + .bread_crumb_item::before {
    content: ">";
    padding: 0 8px;
    color: #ccc;
}

.bread_crumb_item a {
    text-decoration: none;
    color: #007bff;
}

.bread_crumb_item.active {
    color: #555;
}

/* aboutページ */

.about_hero {
    background: url("/img/about_top.webp") center/cover no-repeat;
}

#about_company {
    .container {
        background-color: white;
        .img_text_list {
            .map_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                #map {
                    height: 50vh;
                    min-height: 400px;
                    min-width: 400px;
                    border-radius: 8px;
                    overflow: hidden;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    margin: 1rem;
                }
                p {
                    margin: 0.5rem;
                    text-align: left;
                    span {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
        @media screen and (max-width: 940px) {
            .img_text_list {
                flex-direction: column;
                gap: 1rem;
                .text_list {
                    width: 80%;
                    margin: 0 auto;
                }
                .map_container {
                    width: 80%;
                    margin: 0 auto;
                    #map {
                        width: 100%;
                        min-width: 0;
                        min-height: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 425px) {
            .img_text_list {
                .text_list {
                    width: 90%;
                }
            }
        }
    }
}

/* microページ */

.micro_hero {
    background: url("/img/micro_exp.webp") center/cover no-repeat;
}

#about_micro {
    background-color: white;
}

.water_flow {
    background-color: white;
}

.advantage-table {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    border-collapse: collapse;
}

.advantage-table th {
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px dashed #999;
    text-align: center;
}

.advantage-table td {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 2px dashed #999;
}

.advantage-table tbody tr:last-child td {
    border-bottom: none; /* 最後の要素は下線を削除 */
    font-weight: bold; /* 強調したい場合 */
}
